{{#layout}}
<div ng-controller="streamingHistoryCtrl" class="container-fluid">
    <div class="col-md-12 col-sm-12">
        <div class="text-center">
            <h2><span ng-bind="telcoGubun"></span> Streaming Log History</h2>
        </div>
        <div class="col-md-12 col-sm-12">
            <div ng-class="hisAlertClass" role="alert" ng-bind="hisAlertMsg" ng-show="hisAlert"></div>
        </div>
        <br/>
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" ng-model="searchText"
                               ng-keypress="enterEvent($event)">
                    </div>
                    <button type="button" class="btn btn-info btn-sm" ng-click="search()">검색</button>
                    &nbsp;&nbsp;<label class="text-right">총 건수: <span ng-bind="page.totalCount"></span></label>
                </form>
            </div>
            <table class="table table-bordered table-hover table-condensed" style="margin-top: 2%">
                <colgroup>
                    <col width="5%" />
                    <col width="20%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <tr class="info">
                    <th class="text-center">No</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Telco</th>
                    <th class="text-center">Service Name</th>
                    <th class="text-center">Host Name</th>
                    <th class="text-center">Server Type</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">Stream Name</th>
                    <th class="text-center">Status</th>
                </tr>
                <tr ng-repeat="item in streamingHistoryList">
                    <td class="text-center"><span ng-bind="item.rn"></span></td>
                    <td class="text-center"><span ng-bind="(item.reg_datetime | date:'yyyy-MM-dd HH:mm:ss')"></span></td>
                    <td class="text-center"><span ng-bind="item.telco_gubun"></span></td>
                    <td class="text-center"><span ng-bind="item.service"></span></td>
                    <td class="text-center"><span ng-bind="item.host_name"></span></td>
                    <td class="text-center"><span ng-bind="item.server_type"></span></td>
                    <td class="text-center"><span ng-bind="item.volume"></span></td>
                    <td class="text-center"><span ng-bind="item.stream_name"></span></td>
                    <td class="text-center"><span ng-bind="item.mon_status"></span></td>
                </tr>
            </table>
            <div class="text-center">
                <ul uib-pagination total-items="page.totalCount" ng-model="page.currentPage" items-per-page="page.pageSize"
                    ng-change="pageChanged()" boundary-link-numbers="true" max-size="5" previous-text="이전" next-text="다음"></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    app.controller("streamingHistoryCtrl", function($scope, $http) {
        // init
        $scope.init = function () {
            $scope.initPage = {
                currentPage : 1,
                pageSize : 20,
                totalCount : 0,
                pages : 0
            };

            $scope.page = angular.copy($scope.initPage);

            var userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
            $scope.telcoGubun = userInfo.telco_gubun;
            $scope.searchText = "";
            $scope.getStreamingHistoryList();
        }

        $scope.hisAlertHandling = function (alertMsg, alertType) {
            $scope.hisAlertClass = ["alert"];

            if(alertType == "success") {
                $scope.hisAlertClass.push("alert-success");
            } else {
                $scope.hisAlertClass.push("alert-danger");
            }

            $scope.hisAlert = true;
            $scope.hisAlertMsg = alertMsg;
        }

        $scope.getStreamingHistoryList = function () {
            console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
            console.log($scope.page);
            $scope.pgOffset = ($scope.page.currentPage - 1) * $scope.page.pageSize;
            $http({
                method: "POST",
                url: "/api/streaming/history",
                headers: {
                    "Content-Type": "application/json"
                },
                data: { "searchText" : $scope.searchText, "offset" : $scope.pgOffset, "pageSize" : $scope.page.pageSize
                , "telcoGubun" : $scope.telcoGubun }
            }).then(function success (res) {
                $scope.hisAlert = false;
                $scope.streamingHistoryList = res.data.streamingHistoryList;
                $scope.page.totalCount = res.data.totalCount;
                $scope.page.pages = Math.ceil($scope.page.totalCount/$scope.page.pageSize);
            }, function error (error) {
                $scope.alertHandling("에러가 발생하였습니다", "danger");
            });
        }

        // init
        $scope.init();

        // pagination
        $scope.pageChanged = function () {
            $scope.getStreamingHistoryList();
        }

        // 검색
        $scope.search = function () {
            $scope.page = angular.copy($scope.initPage);
            $scope.getStreamingHistoryList();
        }

        // enter키
        $scope.enterEvent = function ($event) {
            if ($event.keyCode == 13) {
                $scope.search();
            }
        }
    });
</script>
{{/layout}}