<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Streaming Monitoring</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/streaming-monitor.css">

    <!-- jquery -->
    <script src="/static/util/jquery-1.12.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/util/bootstrap.min.js"></script>
    <!-- angular js -->
    <script src="/static/util/angular.min.js"></script>
    <!-- angular js ui-router -->
    <script src="/static/util/angular-ui-router.min.js"></script>
    <!-- angualr js ui-bootstrap -->
    <script src="/static/util/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <!-- angular app -->
    <script src="/static/js/app.js"></script>
    <!-- jwplayer -->
    <script src="/static/util/jwplayer.js"></script>
</head>
<body>
{{{layout.body}}}
</body>
</html>