<div class="modal-header">
    <h3>계정 수정</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="user.id" disabled>
        </div>
        <div class="form-group">
            <label>텔코사</label>
            <select class="form-control" ng-model="user.telcoGubun">
                <option value="All">All</option>
                <option value="KT">KT</option>
                <option value="LG">LG</option>
                <option value="SK">SK</option>
            </select>
        </div>
        <div class="form-group">
            <label>권한</label>
            <select class="form-control" ng-model="user.level">
                <option value="A">A</option>
                <option value="S">S</option>
            </select>
            <h4><span class="label label-info">S:admin권한 A:일반사용자권한</span></h4>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div ng-class="alertClass" role="alert" ng-bind="alertMsg" ng-show="defaultAlert"></div>
    <button class="btn btn-primary" ng-click="editUser()" ng-disabled="!chkEdit">수정</button>
    <button class="btn btn-warning" ng-click="cancel()">취소</button>
</div>
