{{#layout}}
{{> topMenu}}
<div ui-view=""></div>
<!-- custom route -->
<script src="/static/js/router.js"></script>
<!-- ui-view controller list -->
<script src="/static/js/controller/pwdChange-controller.js"></script>
<script src="/static/js/controller/userAdmin-controller.js"></script>
<script src="/static/js/controller/nbp-controller.js"></script>
<script src="/static/js/controller/streaming-controller.js"></script>
<script src="/static/js/controller/alertConfig-controller.js"></script>
<script src="/static/js/controller/alertConfig-modal.js"></script>
{{/layout}}